<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main><%- include('/benefits') %> <%- include('/appartments') %></main>
		<%- include('/footer') %>
	</body>
</html>
